@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow: hidden;
    font-family: "Poppins" !important;
}

/*Estilos barra lateral*/

.leaflet-container {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.leaflet-sidebar-header {
    background-color: #1F2937;
}

.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
    background-color: #1F2937;
}

@media (min-width: 1200px) {
    .leaflet-sidebar {
        width: 550px;
        max-width: 550px;
    }
}

.leaflet-controllable-legend-body {
    height: 100%;
    max-height: none;
}

.leaflet-sidebar-pane{
    padding: 10px 10px 10px 20px;
}


/*Estilos selector de mapas*/

.leaflet-control-basemapsSwitcher {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.basemapImg {
    margin: 10px 5px;
    text-align: center;
}

.basemapImg div{
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}

.basemapImg:hover {
    transform: scale(1.15);
    transition: all 0.5s ease;
}




/*Estilos buscador*/

.headerBuscador{
    border: 2px solid #1F2937;
    margin: .5rem 0;
}

.buscador{
    font-size: 1.2rem;
    border-left: none;
    margin-left: .5rem;
}

.iconoBuscador{
    font-size: 1.2rem;
    margin-left: .5rem;
}

#buscadorContent {
    height: 75vh;
    font-size: 1.3rem;
}

#buscadorContent .result-item{
    border-bottom: 2px dotted #0000003b;
    cursor: pointer;
    padding: 0.5rem 0;
}




/*Estilos Capas*/

.accordion-button{
    font-size: 1.2rem;
}

.accordion-body{
    padding: 0.5rem 0.8rem;
}

.accordion-body .nav-tabs .nav-link{
    font-size: 1rem;
}

.tab-content{
    margin-top: 15px;
}

.form-switch{
    font-size: 1.1rem;
}

.content-file a{
    font-size: 1.1rem;
    font-weight: bold;
    color: #1F2937 !important;
    white-space: normal;
    word-wrap: anywhere;
}

.content-file .form-label{
    font-size: 1rem;
}

.content-file .d-block{
    margin-top: 10px;
}

.recursos{
    padding: 10px 0;
    border-bottom: 1px dotted;
}

.nameRecurso{
    display: flex;
}

.perfiles{
    display: flex;
    place-content: center space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 0;
    border-bottom: 1px dotted #1F2937;
}

.btn-1 {
    background-color: #0e1b2b !important;
    border-color: #0e1b2b;
    color: #fff;
}

.btn-1:focus {
    box-shadow: none;
}

.btn-1:hover {
    background-color: #08101a;
    border-color: #08101a;
    color: #ddd;
}

.btn-2 {
    background-color: #5c636a !important;
    border-color: #5c636a;
    color: #fff;
}

.btn-2:hover {
    background-color: #404549 !important;
    border-color: #404549;
    color: #ddd;
}

.btn-2:focus {
    box-shadow: none;
}

.titulo-generados{
    padding: 25px 0;
    margin: 10px 0;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.check-perfil{
    width: 20px;
    height: 17px;
}
